@import url("icons.css");
@font-face {
  font-family: "Lato";
  src: url("Lato.ttf");
}

@font-face {
  font-family: "Poppin";
  src: url("Poppins.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-weight: 500;
  font-family: Poppin;
  word-break: keep-all;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  --color1: #3c5063;
  --color2: #fa4a4d;
  --padrao: #ffc10e;
  --color4: #3db9ec;
  --color5: #388e3c;
  --color6: #222332;
  --color7: #1a1b1e;
  --atual: #fff;
  overflow-x: hidden;
  background: #e6e6e6;
  padding: 3rem;
}

::scrollbar {
  width: 0px !important;
}

*::scrollbar {
  width: 0px !important;
}

*::-webkit-scrollbar {
  width: 0px !important;
}

*::-moz-scrollbar {
  width: 0px !important;
}

*::-ms-scrollbar {
  width: 0px !important;
}

*::-moz-osx-scrollbar {
  width: 0px !important;
}

*::-o-scrollbar {
  width: 0px !important;
}

.flex, .footer ul {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.footer {
  width: 100%;
  display: block;
  padding: 1rem;
}

.footer ul {
  align-items: unset;
  justify-content: space-between;
}

@media (max-width: 625px) {
  .footer ul {
    flex-wrap: wrap;
  }
}

@media (max-width: 625px) {
  .footer ul li {
    width: 100%;
    text-align: center;
    margin-block: 1rem;
  }
  .footer ul li div {
    margin: 0 auto;
  }
}

.footer ul li:first-child {
  width: 50%;
}

@media (max-width: 625px) {
  .footer ul li:first-child {
    width: 100%;
  }
}

.footer ul li h4 {
  padding: .4rem 0;
  font-weight: 900;
  font-size: 1.1rem;
}

.footer ul li input {
  width: 100%;
  outline: none;
  padding: .8rem;
  border-radius: .2rem;
  border: 1px solid #ccc;
}

.footer ul li div i {
  font-size: 1.2rem;
  padding: .8rem 0;
  margin-right: 1rem;
}
