@import url("icons.css");
@font-face 
{
    font-family: "Lato";
    src: url("Lato.ttf");
}
@font-face 
{
    font-family: "Poppin";
    src: url("Poppins.ttf");
}
*{  
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-weight: 500;
    font-family: Poppin;
    word-break: keep-all;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body
{    --color1: #3c5063;
    --color2: #fa4a4d;
    --padrao: #ffc10e;
    --color4: #3db9ec;
    --color5: #388e3c;
    --color6: #222332;
    --color7: #1a1b1e;
    --atual : #fff;

    overflow-x: hidden;
    background: hsl(0, 0%, 90%);
    padding:  3rem;

}
	
	
::scrollbar  { width: 0px!important}
*::scrollbar   { width: 0px!important}
*::-webkit-scrollbar  { width: 0px!important}
*::-moz-scrollbar  { width: 0px!important}
*::-ms-scrollbar  { width: 0px!important}
*::-moz-osx-scrollbar { width: 0px!important}
*::-o-scrollbar { width: 0px!important}



.flex
{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}




.projetos
{
    margin: 0 auto;
    text-align: center;

    h4
    {
        font-weight: 900;
        font-size: 1.2rem;
    }

    ul
    {
        margin: 0 auto;
        @extend .flex;
        margin-block: 2rem;

        li
        {
            padding: 2rem;
            text-align: center;
            border-radius: .8rem;
            background: #3c5063;
        }
    }
}

.area-conhecimento
{
    div
    {
        margin: 0 auto;
        text-align: center;

        h3
        {
            padding: .8rem 0;
            font-weight: 400;
            font-size: 1.5rem;

            &::after
            {
                top: 5px;
                content: "";
                width: 3%;
                display: block;
                margin: 0 auto;
                padding: .1rem; 
                position: relative;
                background: #222332;
            }
        }
    }

    ul
    {
        display: grid;
        width: 100%;
        margin: 0 auto;
        margin-block: 2rem;
        padding: 1rem .8rem;
        grid-template-columns: repeat(auto-fit, minmax(228px, 1fr));
        grid-gap: 1rem;

        li
        {
            text-align: center;

            .icone
            {
                width: 100px;
                height: 100px;
                position: relative;
                flex-flow: column;
                margin-block: 1rem;
                border-radius: 50%;
                justify-content: center;
                background: #1a1b1e;

                i
                {
                    color: #fff;
                    font-size: 2rem;
                }
                small
                {
                    top: 0px;
                    right: 0px;
                    color: #fff;
                    width: 30px;
                    height: 30px;
                    display: block;
                    padding: .3rem;
                    position: absolute;
                    border-radius: 50%;
                    background: #3c5063;
                }
            }
            h5
            {
                font-weight: 900;
                padding: .5rem 0;
                text-transform: uppercase;
            }
        }
    }
}


.footer
{
    width: 100%;
    display: block;
    padding: 1rem;

    ul
    {
        @extend .flex;
        align-items: unset;
        justify-content: space-between;
        @media (max-width: 625px) {
           flex-wrap: wrap;
        }

        li
        {
            @media (max-width: 625px) {
                width: 100%;
                text-align: center;
                margin-block: 1rem;

                div
                {
                    margin: 0 auto;
                }
            }

            &:first-child
            {
                width: 50%;
                

                @media (max-width: 625px) {
                    width: 100%;
                }
            }
            h4
            {
                padding: .4rem 0;
                font-weight: 900;
                font-size: 1.1rem;
            }
            input
            {
                width: 100%;
                outline: none;
                padding: .8rem;
                border-radius: .2rem;
                border: 1px solid #ccc;
            }
            div
            {
                i
                {
                    font-size: 1.2rem;
                    padding: .8rem 0;
                    margin-right: 1rem;
                }
            }
        }
    }
}